// Custom styles.

//文章目录默认展开
.post-toc .nav .nav-child { display: block; }

@font-face {
    font-family: 'PingFangSC'; 
    src: url('/fonts/PingFangSC-Light.ttf'); //你的资源目录
    font-weight: normal;
    font-style: normal;
}

@font-face {        
    font-family: 'JetBrainsMono';    
    src: url('/fonts/JetBrainsMono-Regular.eot');     
    src: url('/fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),            
         url('/fonts/JetBrainsMono-Regular.woff') format('woff'),
         url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),          
         url('/fonts/JetBrainsMono-Regular.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {        
    font-family: 'JetBrainsMono';    
    src: url('/fonts/JetBrainsMono-Italic.eot');     
    src: url('/fonts/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'),            
         url('/fonts/JetBrainsMono-Italic.woff') format('woff'),
         url('/fonts/JetBrainsMono-Italic.woff2') format('woff2'),          
         url('/fonts/JetBrainsMono-Italic.ttf')  format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {        
    font-family: 'JetBrainsMono';    
    src: url('/fonts/JetBrainsMono-Medium.eot');     
    src: url('/fonts/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),            
         url('/fonts/JetBrainsMono-Medium.woff') format('woff'),
         url('/fonts/JetBrainsMono-Medium.woff2') format('woff2'),          
         url('/fonts/JetBrainsMono-Medium.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {        
    font-family: 'JetBrainsMono';    
    src: url('/fonts/JetBrainsMono-Bold.eot');     
    src: url('/fonts/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),            
         url('/fonts/JetBrainsMono-Bold.woff') format('woff'),
         url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),          
         url('/fonts/JetBrainsMono-Bold.ttf')  format('truetype');
    font-weight: 700;
}

@font-face {        
    font-family: 'JetBrainsMono';    
    src: url('/fonts/JetBrainsMono-Bold-Italic.eot');     
    src: url('/fonts/JetBrainsMono-Bold-Italic.eot?#iefix') format('embedded-opentype'),            
         url('/fonts/JetBrainsMono-Bold-Italic.woff') format('woff'),
         url('/fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2'),          
         url('/fonts/JetBrainsMono-Bold-Italic.ttf')  format('truetype');
    font-weight: 700;
    font-style: italic;
}

