
$main-desktop = 1500px 
$content-desktop = 1200px
//$sidebar-desktop = 500px
//$font-size-large = 20px
$gray-lighter = #4e6ef2

//$font-size-headings-base = 35px

$code-font-size = 16px
$code-foreground = #e96900
$code-background = #f8f8f8